*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.bodyContent{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
}

h1{
    color: #000033;
}

.navContainer h1{
    color: #FAF9F6;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Megrim', sans-serif;
}

.navContainer{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktopNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #000033;
    padding: 25px 25px;
}

.navMenu{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.navMenu a{
    text-decoration: none;
    transition: 0.5s ease;
    color: #FAF9F6;
    margin: 0 20px;
    padding: 10px;
    height: 100%;
    border-radius: 5px;

    font-weight: 700;
    box-shadow: 0px 4px 5px  rgba(0, 0, 0, .5);
}

.navMenu a.is-active, .navMenu a:hover{
    background-color: #b21c58;
}

.active{
    border-bottom:2px solid #b21c58;
    border-top: 2px solid #b21c58;
}

/* Hamburger Start */
.navHamburger{
    display: none;
    user-select: none;
    appearance: none;
    background:none;
    outline: none;
    border:none;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.navHamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #FAF9F6;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.5s;
    border-radius: 5px;
}

.navHamburger.is-Active span:nth-child(1){ 
    background-color: #b21c58;
}

.navHamburger.is-Active span:nth-child(2){ 
    transform: translate(10px); 
    background-color: #b21c58;
}

.navHamburger.is-Active span:nth-child(3){
    transform: translate(15px);
    background-color: #b21c58;
} 
/* Hamburger End */


/* Mobile Nav Start */
.mobileNav{
    display: block;
    position: fixed;
    left: 0;
    top: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 98;
    background-color: rgba(0,0,50, 1);
    transition: 0.5s ease;
}

.mobileNav.isActive{
    top: 0%;
}

.mobileNav a{
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50%;
    padding: 18px;
    background-color: rgba(255,255,255, .1);
    box-shadow: 0px 5px 9px 0px black;
    color: #FAF9F6;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}
.mobileNav a:nth-child(2){
    margin-top: 2rem;
}

.mobileNav a:hover{
    background-color: rgba(0,0,50, 1);
}

.container-fluid{
    padding: 7rem 15%;
}


/* Galleery Header */
.galleryHeader{
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.galleryHeader p{
    font-size: 3rem;
    color: #000033;
    font-weight: 300;
}

.galleryHeaderLogo{
    padding-top: 5%;
    width: 10rem;
}

/* Gallery Header END */

/* Image Start Masonary Desktop
    Anything under commented code is temp
*/
.photoGalleryContainer{
    margin: 2rem auto;
    max-width: 1920px;
    column-count: 3;
    list-style: none;
    padding: 0 15px;
    column-gap: 15px;
    column-width: 100%;
}

.galleryImageContainer{
    position: relative;
}

.galleryImageContainer .image{
    line-height: 0;
    margin-bottom: 15px;
    overflow: hidden; 
    border-radius: 15px;
}

.galleryImageContainer .image img{
    background-size: 100% 100%;
    object-position: 50% 50%;
    cursor: pointer; 
    transition: .4s ease-in-out;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 2px;
    filter: grayscale(100%);
}

.galleryImageContainer:hover .image img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    filter: grayscale(0%);
}

/* Image Masonary Desktop END */

/* Image Grid */
.photoGalleryContainerGrid{
    margin: 2rem auto;
    max-width: 1920px;
    column-count: 3;
    list-style: none;
    padding: 0 15px;
    column-gap: 15px;
    column-width: 100%;
}

.galleryImageContainerGrid{
    position: relative;
}

.galleryImageContainerGrid .image{
    line-height: 0;
    margin-bottom: 15px;
    overflow: hidden; 
    border-radius: 15px;
    height: 400px;
    width: auto;
}

.galleryImageContainerGrid .image img{
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer; 
    transition: .4s ease-in-out;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 2px ;
    filter: grayscale(100%);
}

.galleryImageContainerGrid:hover .image img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    filter: grayscale(0%);
}
/* Image Grid Desktop END */


/* Btn Start */
.btn{
    border: 1px solid #000033;
    background: none;
    background-color: #000033;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
/* Btn END */

/* Custom Masonary Design For Static Images  */
.photoGallery :nth-child(1){
    grid-column: span 1;
}
.photoGallery :nth-child(3){
    grid-row: span 2;
}
.photoGallery :nth-child(7){
    grid-row: span 2;
}
/* Custom Masonary END*/

/* Footer Start */
.footerContainer{
    text-align: center;
    padding: 8rem;
}
.footerContainer p{
    font-weight: 600;
    color: #000033;
}

.footerLogo {
    width: 70px;
    padding-bottom: 20px;
}
/* Footer END */



/* pagination */
.pagination{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5rem;
    max-width: 1000px;
}
/* For Local Device Changes Start */
.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #000033 !important;
    transition: 0.5s ease-in-out;
}
.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover{
    background-color: #000033 !important;
}
.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root{
    background-color: rgb(196, 233, 245) !important;
    border-bottom: 1px solid #000033 !important;
    transition: .5s ease-in-out !important;
}
.css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root:hover{
    background-color: #b21c58 !important;
    border-bottom: 1px solid #000033 !important;
    color: white;
}
/* For Local Device Changes END */

/* For Github Pages Changes Start */
.css-1bfr02t{
    background-color: rgb(196, 233, 245) !important;
    border-bottom: 1px solid #000033 !important;
    transition: .5s ease-in-out !important;
}
.css-1bfr02t:hover{
    background-color: #b21c58 !important;
    border-bottom: 1px solid #000033 !important;
    transition: .5s ease-in-out !important;
}

.css-1bfr02t.Mui-selected{
    background-color: #000033 !important;
    border-bottom: 1px solid #b21c58 !important;
    transition: .5s ease-in-out !important;
}
.css-1bfr02t.Mui-selected:hover{
    background-color: #000033 !important;
    border-bottom: 1px solid #b21c58 !important;
    transition: .5s ease-in-out !important;
}
/* For Github Pages Changes END */


/* Switch Start */

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius: 15px;
    transition: 3s ease;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #61616179;
}

.slider::before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 4px;
    border-radius: 25px;
    background-color: #faf9f6;
    transition: .3s ease;
}

input:checked + .slider{
    background-color: #38c700;
}

input:checked + .slider::before{
    transform: translateX(25px);
}

.switchContainer{
    display: flex;
    margin-left:50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.switchContainerImageSize{
    margin-left:50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.switchContainer p{
    font-weight: 400;
    font-size: 15px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
}
.switchContainerSmallerImages{
    margin-left:50px;
    margin-top: 20px;
}

/* Switch End */



/* Model Start */
.imageWrapper{
    padding-bottom: 20px;
    background-color: #f5f5f5;
    position: absolute;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0px 5px 10px black;
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    overflow-x: auto;
    max-width: calc(100vw  - 100px);
}

.model{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00000091;
    visibility: hidden;
    opacity: 0;
    z-index: 20;
    padding-top: 50px;
    transition: .5s ease;

}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: .3s ease;
}

.model img{
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0 auto;
    box-shadow: 0 2px 7px black;
}


.model.open svg{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.712);
    border-top-right-radius: 8px;
}

.imageInfo{
    position: absolute;
    margin: 0 auto;
    color: black;
    font-size: 1rem;
    padding-left: 2%;
    list-style-type: none;
    width: 80%;
}

.listItem{
    font-weight: 300;
    padding-top: 1.5%;
    text-align: left;
    align-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif !important;

}
.infoListTitle{
    color:#8f8f8f;
    font-family: 'Roboto', sans-serif !important;
}
/* Model END */

table, th, td {
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif !important;
    padding-left: 15px;
    padding-right: 15px;
}
th{
    color: #8f8f8f;
    font-weight: 300;
}
th, td{
    padding: 0;
    margin: 0;
    margin: auto;
    overflow: hidden;
}
.topInfotable{
    position: absolute;
    table-layout: fixed;
    width:100%;
    margin-top: 15px;
}

.modalInfoDescription{
    width:100%;
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
}

.modalInfoDescription td{
    width: 300px;
}
.modalInfoDescription{
    padding-top: px;
    padding-bottom: 0%;
}


/* Scroll Bar */

.imageWrapper::-webkit-scrollbar-track{
    border: solid 100px transparent;
    border-radius: 25px;

}
::-webkit-scrollbar{
    border-radius: 25px;
    width: 0.4rem;
}
::-webkit-scrollbar-track{
    background-color: #1e1e24;
}

::-webkit-scrollbar-thumb{
    background-color: #6649b8;
    transition: 0.2s ease-in-out;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
    transition: 0.2s ease-in-out;
    background: #543c97;
}
/* Scroll Bar END */



/* Custom Load Css */
.css-q75ikx{
    align-items: center;
    align-content: center;
    justify-content: center;
    border-color: #000033 !important;
    margin: auto;
}
.loaderContainer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 100px auto;
}

/* About Content Start */
.aboutContainer{
    columns:2;
    margin-top: 12rem;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: #000033;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.322);
    border-radius: 25px;
    padding: 2rem 5%;
    color: white;
}

.aboutContainer hr{
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    margin: auto auto;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.aboutContainer img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.808);
    border-radius: 15px;
}

.aboutInfo{
    margin-top: 15%;
    margin-right: 25%;
    text-align: left;
    display: inline-block;
    font-size: 100%;
}

.aboutContainer h3{
    color: rgba(255, 255, 255, 0.575);
    font-weight: 300;
    font-size: 15px;
}
.aboutContainer h1{
    color: white;
}

/* About Content END */

.faHandler{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.fa-class {
    color: white;
    font-size: 3rem;
    transition: .3s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-class:hover {
    color: #b21c58;
    font-size: 3rem;
    transition: .3s ease-in-out;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media Start */
@media (max-width: 1200px) {
    .photoGalleryContainer{
        column-count: 2;
    }
    .aboutContainer{
        margin-top: 12rem;
    }
    .photoGalleryContainerGrid{
        column-count: 2;
    }
}

@media (max-width: 1010px){
    .aboutContainer{
        columns: 1;
    }
    .aboutInfo{
        margin-right: 0px;
        text-align: left;
        display: inline-block;
        align-content: center;
        align-items: center;
        font-size: 100%;
    }
    .aboutInfo h1{
        text-align: center;
        align-content: center;
        align-items: center;
    }

}

@media (max-width: 820px){
    .galleryImageContainer .image{
        border-radius: 0px;
    }
    .galleryImageContainer .image img{
        border-radius: 15px;
    }
}

@media (max-width: 768px) {
    .navHamburger{
        display: block;
    }
    .navMenu{
        display: none;
    }

    /* Image Grid */
    .galleryImageContainerGrid .image{
        height: 350px;
    }
    /* Image Grid Desktop END */

    .container-fluid{
        padding: 7rem 5%;
    }
}

@media (max-width: 600px){
    .aboutInfo{
        font-size: .8rem;
    }
    .switchContainerSmallerImages{
        display: none !important;
    }
}

@media (max-width: 500px){
    .photoGalleryContainerGrid{
        column-count: 1;
    }
}

@media (max-width: 450px){
    .photoGalleryContainer{
        columns:1 ;
    }
    .aboutContainer{
        columns: 1;
    }
}

@media (max-width: 365px) {
    th, td{
        font-size: 15px;
    }
    .switchTopContainer .switchContainer{
        margin-left: 15px;
    }
}

@media (max-width: 290px){
    .switchContainer{
        margin-left: 0px;
    }
    .switchContainerSmallerImages{
        margin-left: 0px;
    }
}

/* Media End */